:root {
    /*Colors*/
    --main-color: #036800;
    /*Paddings*/
    --small-padding: 0.5em;
    --medium-padding: calc(var(--small-padding) * 2);
    --large-padding: calc(var(--small-padding) * 3);
    --xl-padding: calc(var(--small-padding) * 4);
}
/*-------body------*/
body {
    margin:0;
    padding: 0;
    width:100%;
    font-family: Platelet OT;
}
@font-face {
    font-family: "Platelet OT";
    src: url("../fonts/Platelet Regular.ttf") format("truetype");
  }
  
/*----Header-----*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - var(--xl-padding));
    height: 4em;
    background: #fff;
    padding: var(--small-padding) var(--medium-padding);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.048);
}
.logo {
    width: 115px;
    height: 100px;
    position: relative;
}
.header-right {
    display: flex;
    flex-direction: row;
    gap: 1em;
    position: relative;
    left:0.5em;
    width: 5em;
}
#web-search {
    display: none;
}
#search-input {
    position: absolute;
    width: 100vw;
    display: none;
    z-index: 10;
}
#mobile-navigation, #mobile-search {
    position: relative;
}
.menu {
    position: absolute;
    display: none;
    right: -0.2em;
    top: 2.5em;
    background: #fff;
    z-index: 10;
    width: 10em;
    text-align: center;
}
ul {
    padding-inline-start: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.384);
  }
.menu li {
    list-style-type: none;
    padding: var(--small-padding) var(--large-padding);
}
.menu li a {
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: bold;
}
.menu li:hover {
    background: var(--main-color);
}
.menu li:hover a {
    color: #fff;
}
.menu a {
    color: #fff;
    text-decoration: none;
}
.fa-bars, .fa-magnifying-glass {
    font-size: 1.7rem;
}
.active {
    display: block !important;
}

/* -----Main------ */
main {
    position: relative;
    top: 4.5em;
    margin:0 auto;
    width: 100%;
    z-index: -1;
}


.content--container {
    display: grid;
}

/* ----index.html-----*/

.about { grid-area: about;}
.explore { grid-area: explore;}
.kids--image { grid-area: kids-image;}
.kids--text { grid-area: kids-text;}
.teachers--image { grid-area: teachers-image;}
.teachers--text { grid-area: teachers-text;}
.researchers--image { grid-area: researchers-image;}
.researchers--text { grid-area: researchers-text;}
.exhibitions--spaces { grid-area: exhibitions-spaces;}
.special--events { grid-area: special-events;}
.getinvolved--image { grid-area: getinvolved-image;}
.getinvolved--text { grid-area: getinvolved-text;}

.index {
    display: grid;
    grid-template-areas: 
        "about"
        "explore"
        "kids-image"
        "kids-text"
        "teachers-image"
        "teachers-text"
        "researchers-image"
        "researchers-text"
        "exhibitions-spaces"
        "special-events"
        "getinvolved-image"
        "getinvolved-text";
}
.content {
    text-align: center;
    padding: var(--medium-padding);
}
.about {
    color: #fff;
    background: var(--main-color);
    height: 16em;
}
.explore {
    color: var(--main-color);
    background: #fff;
    height: 17em;
}
.kids--image {
    background: url(../images/kids_image.jpg);
    height: 17em;
    background-repeat: no-repeat;
    background-size: cover;
}
.kids--text {
    color: #fff;
    background: var(--main-color);
    height: 17em;
}
.teachers--image {
    background: url(../images/teachers_image.jpg);
    height: 17em;
    background-repeat: no-repeat;
    background-size: cover;
}
.teachers--text {
    color: var(--main-color);
    background: #fff;
    height: 17em;
}

/*-----Footer --------*/
