:root {
    /*Colors*/
    --main-color: #036800;
    /*Paddings*/
    --xsmall-padding: calc(var(--small-padding) / 2);
    --small-padding: 0.5em;
    --medium-padding: calc(var(--small-padding) * 2);
    --large-padding: calc(var(--small-padding) * 3);
    --xl-padding: calc(var(--small-padding) * 4);
}
::-webkit-scrollbar {
    display: none;
}
/*-------body------*/
body {
    margin:0;
    padding: 0;
    width:100%;
    font-family: "Platelet OT";
    scrollbar-width: none;
}
/*------Standard CTA button----*/
.button--group {
    display: flex;
    gap: 0.5em;
    justify-content: center;
  }
  .alone {
      margin-top: var(--xl-padding);
  }
.cta__button {
    background: black;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0.7em;
    font-size: 1.3rem;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.507);
}
.cta__button:hover {
    background: #fff;
    color: black;
}
.main__color {
    background: var(--main-color);
    border: 2px solid var(--main-color);
    color:#fff;
}
.main__color:hover {
    background: #fff;
    color:var(--main-color);
}
@font-face {
    font-family: "Platelet OT";
    src: url("../fonts/Platelet Regular.ttf") format("truetype");
  }
  
/*----Header-----*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - var(--xl-padding));
    height: 3em;
    background: #fff;
    padding: var(--small-padding) var(--medium-padding);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.459);
    z-index: 10;
    top:0;
}
.logo {
    position: relative;
    font-family: "Platelet OT";
    top: 0.2em;
    right:1em;
}
.header-right {
    display: flex;
    flex-direction: row;
    gap: 1em;
    position: relative;
    left:0.5em;
    width: 5em;
}
#web-search {
    display: none;
}
#search-input {
    position: absolute;
    width: 100vw;
    display: none;
    z-index: 10;
}
#mobile-navigation, #mobile-search {
    position: relative;
}
.menu {
    position: absolute;
    display: none;
    right: -0.35em;
    top: 2em;
    background: #fff;
    z-index: 10;
    width: 16em;
    text-align: center;
    padding-inline-start: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.384);
}

.menu li {
    list-style-type: none;
    padding: var(--small-padding) var(--large-padding);
}
.menu li a {
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1em;
}
.menu li:hover {
    background: var(--main-color);
}
.menu li:hover a {
    color: #fff;
}
.menu a {
    color: #fff;
    text-decoration: none;
}
.fa-bars, .fa-magnifying-glass {
    font-size: 1.7rem;
}
.active {
    display: block !important;
}

/* -----Main------ */
main {
    position: relative;
    top: 4em;
    margin:0 auto;
    width: 100%;
}


.content--container {
    display: grid;
}

/* ----index.html-----*/

.explore { grid-area: explore;}
.kids--image { grid-area: kids-image;}
.kids--text { grid-area: kids-text;}
.teachers--image { grid-area: teachers-image;}
.teachers--text { grid-area: teachers-text;}
.researchers--image { grid-area: researchers-image;}
.researchers--text { grid-area: researchers-text;}
.exhibitions--spaces { grid-area: exhibitions-spaces;}
.special--events { grid-area: special-events;}
.getinvolved--image { grid-area: getinvolved-image;}
.getinvolved--text { grid-area: getinvolved-text;}

.index {
    display: grid;
    grid-template-areas: 
        "explore"
        "kids-image"
        "kids-text"
        "teachers-image"
        "teachers-text"
        "researchers-image"
        "researchers-text"
        "exhibitions-spaces"
        "special-events"
        "getinvolved-image"
        "getinvolved-text";
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
    text-align: center;
    font-size: 1.1rem;
    padding: var(--medium-padding);
}
.content h2 {
    margin-bottom: 0;
}
  .content ul {
    text-align: start;
}
.about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: var(--main-color);
    height: 18em;
    position: relative;
    top: -1.7em;
    text-align: center;
}
.about::before {
    position: absolute;
    content: "";
    background: url(../images/about_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: 0.4;
    inset: 0;
}
.about h1 {
    z-index: 1;
    position: relative;
    font-size: 2.5rem;
} 
.about .button--group {
    z-index: 1;
    position: relative;
} 
.explore {
    color: var(--main-color);
    background: #fff;
    height: 15em;
}
.kids--image {
    background: url(../images/kids_image.jpg);
    height: 17em;
    background-repeat: no-repeat;
    background-size: cover;
}
.kids--text {
    color: #fff;
    background: var(--main-color);
    height: 18em;
}
.teachers--image {
    background: url(../images/teachers_image.jpg);
    height: 17em;
    background-repeat: no-repeat;
    background-size: cover;
}
.teachers--text {
    color: var(--main-color);
    background: #fff;
    height:19em;
}
.researchers--image {
    background: url(../images/researchers_image.jpg);
    height: 17em;
    background-repeat: no-repeat;
    background-size: cover;
}
.researchers--text {
    color: #fff;
    background: var(--main-color);
    height: 19em;
}
.exhibitions--spaces {
    color: var(--main-color);
    background: #fff;
    height: 16.5em;
}
.special--events {
    color: #fff;
    background: var(--main-color);
    height: 14.5em;
}
.getinvolved--image {
    background: url(../images/involved_image.jpg);
    height: 17em;
    background-repeat: no-repeat;
    background-size: cover;
}
.getinvolved--text {
    color: #fff;
    background: var(--main-color);
    height: 14.5em;
}
/*-------about.html-------*/
.about__image {
    background: url(../images/museum_image.jpg);
    /*background-repeat: no-repeat;*/
    background-size: contain;
    height: 20em;
}
.text__section {
    margin: 0 auto;
    width: min(800px, calc(100% - var(--xl-padding)));
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding: 0 0 var(--xl-padding) 0;
  }
  .text__section h1 {
    border-bottom: 1px solid var(--main-color);
    padding: 0 0 0.5em 0;
  }
/* -----involved.html ----*/
.involved__image {
    background: url(../images/involved_image.jpg);
    /*background-repeat: no-repeat;*/
    background-size: contain;
    height: 17em;
}
/* -----exhibitions.html ----*/
.involved__image {
    background: url(../images/exhibition_image.jpg);
    /*background-repeat: no-repeat;*/
    background-size: contain;
    height: 17em;
}
/* -----events.html ----*/
.events__image {
    background: url(../images/events_image.jpg);
    /*background-repeat: no-repeat;*/
    background-size: contain;
    height: 17em;
}
/* -----contact.html ----*/
.contact__image {
    background: url(../images/contact_image.jpg);
    /*background-repeat: no-repeat;*/
    background-size: contain;
    height: 17em;
}
.contact__form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.input__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: start;
}
.contact__form input[type=text], .contact__form select, textarea {
    border: none;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.24);
    font-family: Platelet OT;
    width: 20em;
    height: 2em;
}
.contact__form textarea {
    height: 10em;
}
input[type=text]:focus, textarea:focus {
    outline: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.493);
  }
  .contact__form input[type=submit] {
      width: 6em;
      padding: var(--xsmall-padding) var(--small-padding);
      background: var(--main-color);
      border:2px solid var(--main-color);
      border-radius: 7px;
      color: #fff;
      font-family: Platelet OT;
      font-size: 1rem;
      font-weight: 700; 
  }
  .contact__form input[type=submit]:hover {
      background: #fff;
      color:var(--main-color);
  }

/*-----Footer --------*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    margin: 0 auto;
    padding-bottom: 2em;
    width: 100%;
    text-align: center;
    position: relative;
    top: 8em;
    height: 36em;
}
footer h3 {
    color: var(--main-color);
}
.logo--footer {
    position: relative;
    font-family: "Platelet OT";
    transform: scale(2);
}
.contact--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}
.contact--container .fa-solid {
    color: black;
    font-size: 2rem;
}
/* ------Media quereries -----*/
@media only screen and (min-width: 1000px) {
    /*.index {
        display: grid;
        grid-template-areas: 
            "explore explore"  
            "kids-image kids-text" 
            "teachers-text teachers-image"
            "researchers-image researchers-text"
            "special-events exhibitions-spaces"
            "getinvolved-image getinvolved-text"
            ;
    }*/
    .content--container {
        max-width: 1000px;
        margin: 0 auto;
    }
    footer {
        flex-direction: row;
        justify-content: center;
        align-items: start;
        column-gap: 3em;
    }
    .logo--footer {
        top: 2em;
        right: 2em;
    }
}    
